.back {
  display: flex;
  align-items: center;

  &__image {
    fill: #dedede;
    width: 7px;
    margin-right: 8px;
  }

  &__link {
    font-size: 14px;
    color: #dedede;
  }
}

.album-content {
  display: grid;
  grid-template: 1fr / 1fr 3fr;
  gap: 64px;
  margin-top: 32px;
}

.album-list {
  color: #dedede;
  &__item {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    &:not(:first-of-type) {
      padding-top: 24px;
    }

    &-name {
      flex: 1;
    }
  }
}
