@import './reset';

html {
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  background-color: #161616;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  margin: 32px;
}

.container {
  padding: 0 100px;

  &--grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 16px;
    padding: 0;
    margin-top: 64px;
  }
}
